<div class="weathercontainer">
    <div class="card text-white bg-primary">
        <div class="card-header text-center ">
            <p class="card-temp">{{temperature}} °C</p>

            <h2>{{city}}</h2>
            <p> <img src={{iconURL}} alt="weather" width="100px" /> </p>

        </div>
        <div class="card-body">
            <p class="card-text">Humidity: {{humidity}} %</p>
            <p class="card-text">Wind speed: {{windSpeed}} </p>
            <p class="card-text">Description: {{description}}</p>
            <p class="card-text">Pressure: {{pressure}} hPa</p>
        </div>
    </div>
</div>